:root {
    --rows: 5;
}
.beers-list {
.form {
    z-index: 1;
    max-width: 100%;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
}
.beer-form {
    z-index: 1;
    width:500px;
    height: 250px;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
    border: 1px solid #683C1F;
}
.wrapper {
    display: grid;
    grid-template-columns: 500px 615px;
    grid-template-rows: repeat(var(--rows), 300px);
}
.image-form {
    z-index: 1;
    height: 195px;
}
.info-form {
    z-index: 1;
    max-height: 195px;

}
.beer-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
}
h1 {
    color:#B45D24;
    font-size:31px;
}
}