:root {
    --rows: 5;
}
.brewery-list {
.form {
    z-index: 1;
    max-width: 100%;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
}
.brewery-form {
    z-index: 1;
    width:500px;
    height: 250px;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
    border: 1px solid #683C1F;
}
.wrapper {
    display: grid;
    grid-template-columns: 500px 615px;
    grid-template-rows: repeat(var(--rows), 300px);
}
.brewery-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
}
.image-form {
    z-index: 1;
    height: 110px;
}
.info-form {
    z-index: 1;
    max-height: 110px;
    padding-top:15px;
}
h1 {
    color:#B45D24;
    font-size:31px;
    padding-bottom:15px;
}
p {
    float:left;
    margin: 0px;
    color:#B45D24;
}
}