.button {
background: white;
color: black;
border: 2px solid #683C1F;
font-size: 18px;
transition: .6s;
overflow: hidden;
&:focus {
outline: 0;
}
&:before {
content: '';
display: block;
position: absolute;
width: 60px;
height: 100%;
left: 0;
top: 0;
opacity: .5;
}
&:after {
content: '';
display: block;
position: absolute;
width: 30px;
height: 100%;
left: 30px;
top: 0;
opacity: 0;
}
&:hover {
background: #683C1F;
color:white;
cursor: pointer;
&:before {
  opacity: 0.6;
  transition: .7s;
}
&:after {
  opacity: 1;
  transition: .7s;
}
}
}

.zaloguj-zarejestruj {
    @extend .button;
    width:100%;
    height: 45px;
}
.sprawdz-szczegoly-beer {
  @extend .button;
  width:95%;
  height:30px;
}
.sprawdz-szczegoly-brewery {
  @extend .button;
  width:100%;
  height:30px;
}
.wyslij-zgloszenie {
  @extend .button;
  width:20%;
  height:50px;
  margin: 15px 450px;
}
.edytuj-dane {
  @extend .button;
  width:60%;
}
.zmien-haslo {
  @extend .button;
  width:75%;
}
.zmien-avatar {
  @extend .button;
  width:60%;
}
.wybierz-plik {
  @extend .button;
  width:50%;
}
.dodaj-piwo{
  @extend .button;
  width:170px;
  margin-top:20px;
  margin-right: 25px;
}