.contact-page {
.form {
    z-index: 1;
    max-width: 100%;
    margin-top: 20px;
    height:545px;
}    
.my-input {
    width: 95%;
    height: 50px;
    font-size: 16px;
    border: 1px solid #683C1F;
    margin:15px 0px 0px 27px;
    padding:10px;
}
.textarea{
    width: 95%;
    height: 250px;
    font-size: 16px;
    border: 1px solid #683C1F;
    margin:15px 0px 0px 27px;
    padding:10px;
    resize: none;
}
h1 {
    color:#B45D24;
    font-size: 30px;
    text-align:center;
}
}