.expecting-beers {
    .form {
        z-index: 1;
        background: white;
        margin: 0 auto 100px;
        border: 2px solid #683C1F;
        height: 600px;
        padding: 10px;
        overflow: auto;
    }
    .exp-beer{
        border: 2px solid #683C1F;
        height: 100px;

        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 50px 50px;

        margin: 2px;
    }
    .exp-beer-detailed{
        border: 2px solid #683C1F;
        height: 200px;

        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 50px 50px 100px;

        margin: 2px;
    }
    .exp-beer-logo{
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 10px;
        margin: 0 auto;
    }
    .exp-beer-name{
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 5px;
    }
    .exp-beer-name h2{
        text-align: center;
        color:#B45D24;
        font-size: 20px;
    }
    .exp-beer-buttons{
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
    }
    .exp-beer-details{
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 10px;
    }
}