.profile-page{
    .form {
        z-index: 1;
        max-width: 100%;
        margin: 0 auto 100px;
        padding: 25px;
        height: 600px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 400px 250px;
        grid-template-rows: 200px 100px;
    }
    .new-form {
        z-index: 1;
        background: white;
        width: 650px;
        height: 250px;
        margin: 0 auto 100px;
        border: 2px solid #683C1F;
    }
    .profile-info-form {
        z-index: 1;
        background: white;
        height: 200px;
        text-align: center;

    }
    .image-form {
        z-index: 1;
        background: white;
        height: 200px;
        text-align: center;
        width: 246px;

    }
    h1 {
        color:#B45D24;
        font-size: 31px;
        padding-bottom: 20px;
        text-align: center;
    }
    p {
        color:#B45D24;
        text-align:center;
        margin: 0px;
    }
    .sep {
        color: #683C1F;
        border: 1px solid;
        height: 205px;
        width: 0px;
        position:absolute;
        margin-top:20px;
        margin-bottom:20px;
    }
    .item1 {
        text-align: center;
    }
    .fav-beer {
        display: grid;
        grid-template-columns: 40px 290px 80px;
        grid-template-rows: 50px;
        width: 450px;

        border: 1px solid #683C1F;
        margin: 0 auto;
    }
    .fav-beer-logo {
        height: 40px;
        margin: 3px;
    }
    .fav-beer-name {
        color: #B45D24;
        font-weight: 600;
        font-size: 22px;
        margin-top: 5px;
    }
    .fav-beer-rating {
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        color:#B45D24;
    }
    input {
        border: 0;
        box-sizing: border-box;
        border-bottom: 1px solid #683C1F;
        color: #777777;
        width:80%;
        margin:auto;
        text-align:center;
      }
}