:root {
    --rows: 5;
}
.single-beer-page{
    text-align: center;
.wrapper {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 20% 40% 40%;
    height: 500px;
    
    }
.item1{   // ocena uzytkownika
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin:auto;
}
.item2{   // nazwa piwa
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin:5px;
}
.item3{   // ocena ogolna piwa
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin:5px;
}
.item4{   // obrazek piwa
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    margin:5px;
}
.item5{   // szczegoly piwa
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin:5px;
}
.item6{  // podobne piwa
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    margin:5px;
}
.item7{   // opis piwa
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    margin:5px;
}

.rating {
    float:left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    
}

legend{
    color:#B45D24;
    font-size: 20px;
}
h1 {
    color:#B45D24;
    font-size: 40px;
}
h2 {
    color:#B45D24;
    font-size: 30px;
    float:left;
    padding:10px 0 10px 0;
}
p{
    color:#B45D24;
    font-size: 20px;
    margin: 0px;
    padding-top:5px;
}
.podobne-piwo{
    width:80%;
    border: 2px solid #683C1F;
    height: 70px;
    margin:25px auto;
    
}
.textarea{
    width: 100%;
    height: 100px;
    font-size: 16px;
    border: 2px solid #683C1F;
    padding:10px;
    resize: none;
}
h3 {
    color:#B45D24;
    font-size: 30px;
    float:left;
    padding:20px 0 10px 0;
}
.space{
    margin-bottom:75px;
}
.wrapper-komentarze{
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: repeat(var(--rows), 150px);
}
.user-nickname{
    grid-column-start: 1;
    grid-column-end: 1;
}
.komentarz-uzytkownika{
    grid-column-start: 2;
    grid-column-end: 2;
    height: 130px;
    margin-top:8px;
    text-align: justify;
    padding:0px 15px 0px 15px;
}
.ocena-uzytkownika{
    grid-column-start: 3;
    grid-column-end: 3;
}
.komentarz-pojedynczego-uzytkownika{
    border: 2px solid #683C1F;
    width:100%;
    height: 150px;
    margin-bottom:25px;
}
.p-ocena{
    font-size:80px;
}
.p-dodane-przez{
    color:#B45D24;
    font-size: 15px;
    margin-top:-10px;
}


@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
     transform: $transforms;
}

.close{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    &:hover {
      &::before, &::after {
        background: #B45D24;
      }
    }
  
    &::before, &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #683C1F;
    }
    &::before {
        @include transform(rotate(45deg));
    }
    &::after {
        @include transform(rotate(-45deg));
    }
    &.thick {
        &::before, &::after {
          height: 4px;
          margin-top: -2px;
        }
      }
  }




}
